@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style-type: none;
}
.App {
  position: relative;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
section {
  padding: 5rem;
}
a {
  text-decoration: none;
}
.headingOne {
  font-size: 2.5rem;
  padding-bottom: 4rem;
  text-align: center;
}
