@import url('https://fonts.googleapis.com/css?family=Montserrat:800,800i,900,900i');

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('../img/hero.png');
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.hero-content {
  padding-top: 4rem;
}
.hero-content .hero-content__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
  text-shadow: 2px -1px #fff;
  padding-bottom: 4rem;
}

.hero-content .hero-content__text {
  box-sizing: border-box;
  color: #000;
  font-size: 1.5vw;
  line-height: 1.5rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding: 3rem 7rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin-bottom: 4rem;
}
