@import url('https://fonts.googleapis.com/css?family=Montserrat:800,800i,900,900i');

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('../img/hero.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.heroSection .heroContent .heroContentTitle {
  font-size: 4rem;
}
.heroSection .heroContent .heroContentCopy {
  padding: 2rem 0;
  margin: 3rem 10rem;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 2rem;
}

@media (max-width: 425px) {
  .heroSection .heroContent .heroContentTitle {
    font-size: 3rem;
  }
  .heroSection .heroContent .heroContentCopy {
    margin: 2rem 0;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
@media (min-width: 768px) {
  .heroSection .heroContent .heroContentTitle {
    font-size: 2.5rem;
  }
  .heroSection .heroContent .heroContentCopy {
    margin: 1rem 7rem;
  }
}
@media (max-width: 425px) {
  .heroSection .heroContent {
    padding-top: 7rem;
  }
}
